@import "base.css";

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.login-open {
    border: var(--primary) 2px solid;
    position: absolute;
    margin-left: -3rem;
    padding: .3rem;
    border-radius: 10px;
    color: var(--primary);
    background: var(--light-background);
    left: 0;
    padding-right: 2rem;
    transition: 0.5s;
}

.login-container {
    width: 300px;
    border: var(--primary) 2px solid;
    background: var(--light-background);
    color: var(--primary);
    padding: .4rem;
    margin-top: 3.5rem;
    position: absolute;
    right: -310px;
    top: 0;
    transition: 0.5s;
}

.login-container.active {
    right: 0;
}

.login-container form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
}